/* Mobile (phones) - up to 767px */
@media (max-width: 767px) {
  /*home responsive*/
  .navbar {
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100vw;
    padding: 5px;
  }
  .navbar a {
    padding: 10px;
    margin-left: 0;
  }
  .home {
    height: auto;
  }
  .home_content {
    width: 100vw;
    height: fit-content;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
    padding: 40px 20px;
  }
  .home_text {
    width: auto;
    gap: 10px;
  }
  .home_text .btn {
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .home_content h1 {
    font-size: 35px;
  }
  .home_content p {
    color: #f2e5bf;
    font-size: large;
    text-align: justify;
    hyphens: auto;
  }
  .home_img img {
    height: 300px;
  }

  .home_btn_list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    padding: 10px 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .home_btn_list i {
    font-size: 25px;
  }

  .home_btn_top {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 100%;
    border: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    box-shadow: #fd8b51 0px 1px 10px;
  }

  /*About responsive*/
  .about {
    height: auto;
    width: 100vw;
    margin-top: 100px;
  }
  .about_title {
    font-size: x-large;
  }
  .about_content {
    width: fit-content;
    height: auto;
    width: 90vw;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: -5px;
  }

  .about_des {
    padding: 20px;
    text-indent: 20px;
    font-size: larger;
  }
  .about_img_list {
    gap: 10px;
    margin: 40px 5px 0 5px;
  }
  .about_img img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  /*Skills responsive*/
  .skills {
    height: auto;
    width: 100vw;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills_title {
    font-size: x-large;
    margin-top: 20px;
  }
  .skills_list {
    justify-content: center;
    gap: 20px;
  }
  .skills_content {
    width: 90vw;
    height: auto;
    margin: auto;
    border-radius: 30px;
  }
  .skills_title {
    font-size: x-large;
    margin: 20px;
  }
  .skills_card {
    width: 250px;
  }
  .skills_card:hover {
    transform: translateX(5px);
  }

  .skills_card img {
    height: 150px;
  }
  .skills_card_des {
    padding: 20px;
  }

  /*Projects responsive*/
  .projects {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .projects_title_bg {
    padding: 0 0 20px 0;
    width: 40vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .projects_title {
    font-size: x-large;
    padding-top: 10px;
  }
  .container {
    margin-top: 30px;
    width: 100%;
    padding: 40px 20px;
    border-radius: 10px;
  }

  .container .main-card {
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
  }

  #two:checked ~ .main-card {
    margin-left: -100%;
  }

  .container .main-card .cards {
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }

  .main-card .cards .card {
    width: calc(100% / 3 - 10px);
    background: #257180; /* White background for cards */
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    position: relative;
  }

  .main-card .cards .card:hover {
    transform: translateY(-10px);
  }

  .cards .card .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .cards .card .content .card_img {
    height: 150px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    background: #f2e5bf; /* Dark teal background for image circle */
    margin: 10px 0;
    box-shadow: #f2e5bf;
  }

  .card .content .card_img img {
    height: 100px;
    width: 100%;
    border: 3px solid #ffffff; /* White border for image */
    border-radius: 10px;
    object-fit: cover;
  }

  .card .content .card_title {
    color: #f2e5bf;
    font-size: 22px; /* Increased font size for name */
    font-weight: 600; /* Bolder weight for name */
    margin-top: 10px;
    font-family: sans-serif;
  }

  .card .content .card_btn {
    margin-top: 10px;
    display: flex;
  }

  .card_btn button {
    text-align: center;
    margin: 0 6px; /* Increased margin for spacing */
    padding: 5px;
    font-size: medium; /* Increased font size for icons */
    font-weight: 300;
    color: #fc7e3f; /* White color for icons */
    border-radius: 5px;
    border: none;
    background: #f2e5bf; /* Dark teal background for icon circles */
  }

  .card_btn button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s linear;
  }

  .container .button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .button label {
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #fc7e3f; /* White background for button */
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .button label.active {
    width: 35px; /* Active button size */
  }

  #one:checked ~ .button .one {
    width: 35px; /* Active button size for first */
  }

  #one:checked ~ .button .two {
    width: 15px; /* Inactive size for second */
  }

  #two:checked ~ .button .one {
    width: 15px; /* Inactive size for first */
  }

  #two:checked ~ .button .two {
    width: 35px; /* Active button size for second */
  }

  input[type="radio"] {
    display: none;
  }
  @media (max-width: 768px) {
    .main-card .cards .card {
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card .cards .card {
      width: 100%;
    }
  }
  /* Arrow Styling */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #fc7e3f; /* Dark teal background for arrows */
    color: #f2e5bf; /* White color for arrows */
    cursor: pointer;
    padding: 10px;
    border-radius: 50%; /* Circular buttons for arrows */
    width: 50px; /* Increased width for better click area */
    height: 50px; /* Increased height for better click area */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  }

  .arrow.left {
    left: 30px;
  }

  .arrow.right {
    right: 30px;
  }

  /*Contact responsive*/
  .contact {
    height: auto;
    background-color: #257180;
    padding-bottom: 50px;
  }
  .contact_title_bg {
    padding: 0 0 20px 0;
    width: 40vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .contact_title {
    font-size: x-large;
    padding-top: 10px;
  }
  .contact_content {
    width: 90vw;
    height: fit-content;
    flex-direction: column;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
    margin: auto;
    margin-top: 50px;
  }
  .contact_img {
    height: fit-content;
    width: 90vw;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  }
  .contact_img h2 {
    padding: 20px;
  }
  .contact_img img {
    width: 150px;
    border-radius: 20px;
  }
  .contact_text {
    margin-left: 20px;
    margin-top: 10px;
  }
  .contact_btn_list i {
    font-size: 25px;
  }
  .contact_form {
    width: 90vw;
    border-radius: 20px;
    padding: 20px;
  }
}

/* Tablet and small laptops - 768px to 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  /*Home responsive*/
  .home {
    height: screen;
    padding-bottom: 50px;
  }
  .home_content {
    gap: 20px;
    padding: 40px 30px;
  }
  .home_text {
    width: 40vw;
    gap: 15px;
  }
  .home_content h1 {
    font-size: 35px;
  }

  /*About responsive*/
  .about {
    height: auto;
  }
  .about_content {
    height: fit-content;
    width: 80vw;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .about_title {
    font-size: x-large;
  }
  .about_des {
    padding: 40px;
    hyphens: auto;
    font-size: x-large;
  }
  .about_img_list {
    gap: 20px;
    padding: 50px;
  }

  /*Skills responsive*/
  .skills {
    height: auto;
    padding: 50px 0;
  }
  .skills_content {
    width: 90vw;
    height: auto;
    border-radius: 50px;
    gap: 20px;
  }
  .skills_title {
    font-size: x-large;
    margin-top: 40px;
  }
  .skills_list {
    justify-content: center;
    gap: 20px;
    margin: auto;
    padding-bottom: 40px;
  }

  /*Projects responsive*/
  .projects {
    height: 100vh;
  }
  .projects_title_bg {
    padding: 0 0 20px 0;
    width: 40vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .projects_title {
    font-size: x-large;
    padding-top: 10px;
  }
  .card .content .card_btn {
    margin-top: 10px;
    display: flex;
  }
  .card_btn button {
    font-size: small; /* Increased font size for icons */
  }

  /*Contact responsive*/
  .contact_title_bg {
    padding: 0 0 20px 0;
    width: 40vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .contact_title {
    font-size: x-large;
    padding-top: 10px;
  }
}
/* Large screens (laptops and desktops) - 1024px and above */
@media (min-width: 1024px) {
  .skills {
    height: screen;
  }
}
